@import "tailwindcss";

/* Load your font */
@font-face {
  font-family: 'foundation';
  src: url('./FoundationLogo.ttf') format('truetype');
}

/* Optional global styles */
body {
  font-family: foundation;
}

/* Tailwind v4 theme customization */
@theme {
  --font-foundation: 'foundation', sans-serif;

  --color-primary: #99d5c9;
  --color-secondary: #6c969d;
  --color-tertiary: #645E9D;

  --color-fontPrimary: #392B58;
  --color-fontSecondary: #2D0320;
}


#logo-img {
  height: 6rem;
  width: 6rem;
  position: absolute;
  animation: rotatePos 5s linear infinite;
}

#logo-text {
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes rotatePos {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

header img {
  width: 50px;
}

header li {
}

#navbar1 {
  display: none;
}

#navbar1-toggle {
  display: none;
}

#navbar1-toggle:checked ~ #navbar1{
  display: inline-block;
  background-color: antiquewhite;
  position: absolute;
  top: 96px;
  left: 150px;
}

#navbar2 {
  display: none;
}

#navbar2-toggle {
  display: none;
}

#navbar2-toggle:checked ~ #navbar2{
  display: inline-block;
  background-color: antiquewhite;
  position: absolute;
  top: 96px;
  right: 0px;
}

search {
  display: none;
}