@import "tailwindcss";

@font-face {
  font-family: 'foundation';
  src: url('./FoundationLogo.ttf') format('truetype');
}

@theme {
  --font-foundation: 'foundation', sans-serif;

  --color-primary: #99d5c9;
  --color-secondary: #6c969d;
  --color-tertiary: #645E9D;

  --color-fontPrimary: #392B58;
  --color-fontSecondary: #2D0320;
}

#logo-img {
  height: 5rem;
  width: 5rem;
  position: absolute;
  opacity: 0.75;
  animation: rotatePos 15s linear infinite;
}

#logo-text {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes rotatePos {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

header img {
  width: 50px;
}

#navbar1-toggle {
  display: none;
}

#navbar1-toggle:checked ~ #navbar1{
  display: block;
}

#navbar2-toggle {
  display: none;
}

#navbar2-toggle:checked ~ #navbar2{
  display: block;
}

search {
  display: none;
}