@import "tailwindcss";

@font-face {
  font-family: 'foundation';
  src: url('./FoundationLogo.ttf') format('truetype');
}

@font-face {
  font-family: 'fredericka';
  src: url('./FrederickatheGreat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'mc';
  src: url('./ManufacturingConsent-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'thasadith';
  src: url('./Thasadith-Regular.ttf') format('truetype');
}

@theme {
  --font-foundation: 'foundation', sans-serif;
  --font-fredericka: 'fredericka', sans-serif;
  --font-mc: 'mc', sans-serif;
  --font-thasadith: 'thasadith', sans-serif;

  --color-primary: #99d5c9;
  --color-secondary: #6c969d;
  --color-tertiary: #645E9D;

  --color-fontPrimary: #392B58;
  --color-fontSecondary: #2D0320;

  --animate-rotate: rotate 10s linear infinite;
  --animate-comeFromLeft: comeFromLeft 3s;
  --animate-comeFromRight: comeFromRight 3s;
  --animate-deblur: deblur 3s;
}

#logo-img {
  height: 5rem;
  width: 5rem;
  position: absolute;
  opacity: 0.75;
}

#logo-text {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

header img {
  width: 50px;
}

#navbar1-toggle {
  display: none;
}

#navbar1-toggle:checked ~ #navbar1{
  display: block;
}

#navbar2-toggle {
  display: none;
}

#navbar2-toggle:checked ~ #navbar2{
  display: block;
}

search {
  display: none;
}

#hero-text {
  animation: fadein 3s;
  -webkit-text-stroke: 0.4px black;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes comeFromLeft {
  0% { transform: translateX(-100px); }
  100% { transform: translateX(0); }
}

@keyframes comeFromRight {
  0% { transform: translateX(+100px); }
  100% { transform: translateX(0); }
}

@keyframes deblur {
  0% { filter: blur(8px ); }
  100% { filter: blur(0px); }
}

h2 {
  display: inline-block;
  overflow: visible;
  box-sizing: border-box;
  
}

#github-underscore {
  display: inline-block;
  transform: translate(5px, 6px);
  animation: walkingBorder 5s 200ms ease-in infinite;
}

@keyframes walkingBorder {
  0% {
    color: #99d5c9;
    transform: translate(5px, 6px);
  }
  25% {
    transform: translate(405px, 6px);
  }
  50% {
    transform: translate(405px, -30px);
  }
  75% {
    transform: translate(5px, -30px);
  }
  100% {
    transform: translate(5px, 6px);
  }
}